In [1]:
#匯入csv

import pandas as pd

album1 = pd.read_csv("Album_example1.csv")
album1

,Album,Artist,Year,Record,Nation,listened
0,Whats Going On,Marvin Gaye,1971,Tamla/Motown,1,0
1,Pet Sounds,The Beach Boys,1966,Capitol,1,0
2,Songs in the Key of Life,Stevie Wonder,1976,Tamla/Motown,1,1
3,Abbey Road,The Beatles,1969,Apple,0,1
4,Rumors,Fleetwood Mac,1977,Warner Bros.,0,0