In [1]:
import pandas as pd

data = pd.read_csv('movies_metadata.csv')
data.head()

C:\Users\s7104\AppData\Local\Temp\ipykernel_17460\3798635071.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
#Q1
#標題adult的值為true的資料有幾筆?
# 讀取 CSV 檔案
df = pd.read_csv('movies_metadata.csv')
    
# 選擇 adult 欄位為 True 的列數
adult_true = df[df['adult'] == 'True']

# 計算筆數
count = len(adult_true)

# 輸出結果
print(f"計算標題 adult 的內容為 true 的資料有 {count} 筆")

計算標題 adult 的內容為 true 的資料有 9 筆

C:\Users\s7104\AppData\Local\Temp\ipykernel_17460\1469123736.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')

In [7]:
#Q2
#語言使用除了英文的電影共有幾部
# 讀取 CSV 檔案
df = pd.read_csv('movies_metadata.csv')

# 選擇 original_language 欄位不等於 en 的列數
not_en = df[df['original_language'] != 'en']

# 計算筆數
count = len(not_en)

# 輸出結果
print(f"original_language 欄位中除了 'en' 以外的資料有 {count} 筆")

original_language 欄位中除了 'en' 以外的資料有 13197 筆

C:\Users\s7104\AppData\Local\Temp\ipykernel_17460\1280204107.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')

In [8]:
#Q3
#在西元2000年後發布的電影有幾部
# 讀取 CSV 檔案
df = pd.read_csv('movies_metadata.csv')

# 將 release_date 欄位轉換為日期格式
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

# 選擇 release_date 欄位在 2000 年之後的列數
after_2000 = df[df['release_date'] >= pd.Timestamp(2000, 1, 1)]

# 計算筆數
count = len(after_2000)

# 輸出結果
print(f"release_date 欄位中在西元 2000 年以後的資料有 {count} 筆")

release_date 欄位中在西元 2000 年以後的資料有 24007 筆

C:\Users\s7104\AppData\Local\Temp\ipykernel_17460\4026411534.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')